body{
    font-size:15px;
    background-color: hsl(212, 45%, 89%);
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.div1{
  background-color: hsl(0, 0%, 100%);
  display:flex;
  flex-direction: column; 
  align-items:center;
  border-radius:20px;
  width:80%;
  padding-bottom:20px;
}
.div1 img{
  border-radius:10px; 
  margin-top:5%;
  width:90%;
}
.p1{
  font-weight:780; 
  font-size:20px; 
  color:hsl(218, 44%, 22%); 
  text-indent:5px; 
  margin-bottom:13px;
}
.p2{
  color: hsl(216, 15%, 48%);
  text-indent:5px;
  text-align-last:center; 
  font-weight:490; 
  margin-top:0px;
}
.attribution{
   font-size: 0.6875rem;
   text-align: center;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
@media(min-width:700px){
  .div1{
    width:70%;
  }
  :root{
    font-size:20px;
  }
  .p1{
    font-size:2.3rem;
  }
  .p2{
    font-size:1.6rem;
  }
  .attribution{
    font-size:1.3rem;
  }
}
@media(min-width:1440px){
  .div1{
    width:25%;
  }
  :root{
    font-size:15px;
  }
  .p1{
    font-size:1.7rem;
  }
  .p2{
    font-size:1.2rem;
  }
  .attribution{
    font-size:0.9rem;
  }
}

